body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Utils */
.col .btn.btn-primary.bg-red{
    background-color: red
}

.col .btn.btn-primary.bg-yellow{
    background-color: gold;
}

.col .btn.btn-primary{
    background-color: darkgreen;
}

.row.bg-gray{
    background-color: lightgray;
}

.col{
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
    margin-bottom: 10px;;
}

/* Img */
img{
    display: block;
    max-width: 100%;
}

/* Navbar page */
.container-fluid figure{
    width: 60px;
    margin: 0  
}

/* Main */
.container header > *{
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-title{
    width: 70%;
}

main .col button {
    padding-top: 0;
    padding-bottom: 0;
}

#row-header h3{
    font-size: 15px;
    font-weight: bold;
}

.row h3{
    font-size: 14px;
}

.col{
    height: 45px;
}

.col-4{
    justify-content: center;
}

