body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Img */
img{
    display: block;
    max-width: 100%;
}

/* Navbar page */
.container-fluid figure{
    width: 70px;
    margin: 0  
}

/* Main */
main header >*{
    margin-top: 20px;
}
